.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome{
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo{
  width: 150px;
  height: 150px;
}

.startMusicText{
  margin-top: 5px;
}

.startButton{
  background-color: rgb(6, 102, 102) !important;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.startButton:hover {
  background-color: rgb(6, 150, 102) !important; /* Green */
  color: white;
}
